body{
    background-color:orange;
}

div{
    text-align: center;
    flex-wrap: wrap;
}
header nav ul li a{
    color:#000;
    padding:50px;
    float:left;
    font-size:14px;
    text-decoration: none;
    margin-right: 15px;
}

header nav ul li a:hover{
  color:cyan;
}

header nav ul {
    list-style:none;
    padding: 0;
}

header nav ul li a#onlink:hover{
   color:purple; 
}



h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

#my landing page{
    padding-top: 0rem;
    margin-top: 0px;
    max-width: 50%;
}
#container{
    text-align: center;
}
